---
version: '2'
services:
  app:
    image: nicbet/docker-lucky:0.14.0
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./src:/app
    depends_on:
      - db
  db:
    image: postgres:10